.receipt-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .receipt-receipt {
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .receipt-rectangle38 {
    width: 1541px;
    height: 588px;
    border-color: rgba(123, 195, 147, 1);
    border-style: solid;
    border-width: 1px;
  }
  .receipt-rectangle41 {
    top: 66px;
    left: 364px;
    width: 734px;
    height: 435px;
    z-index: 1;
    position: absolute;
    border-color: rgba(247, 247, 247, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }
  .receipt-text {
    top: 83px;
    left: 444px;
    color: rgba(0, 0, 0, 1);
    width: 560px;
    height: auto;
    z-index: 2;
    position: absolute;
    font-size: 18px;
    font-style: Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text02 {
    top: 138px;
    left: 567px;
    color: rgba(0, 0, 0, 1);
    width: 256px;
    height: auto;
    z-index: 3;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text04 {
    top: 183px;
    left: 516px;
    color: rgba(0, 0, 0, 1);
    width: 402px;
    height: auto;
    z-index: 4;
    position: absolute;
    font-size: 16px;
    font-style: SemiBold;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-rectangle44 {
    top: 218px;
    left: 461px;
    width: 526px;
    height: 173px;
    z-index: 5;
    position: absolute;
    border-radius: 5px;
  }
  .receipt-text09 {
    top: 224px;
    left: 470px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    z-index: 6;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-group38 {
    top: 224px;
    left: 470px;
    width: 503px;
    height: 160.8292694091797px;
    display: flex;
    z-index: 7;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .receipt-text11 {
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text13 {
    top: 3px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text15 {
    top: 26px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text17 {
    top: 29px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text19 {
    top: 52px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text21 {
    top: 55px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text23 {
    top: 78px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text25 {
    top: 81px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text27 {
    top: 104px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text29 {
    top: 107px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text31 {
    top: 130px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: left;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-text33 {
    top: 133px;
    left: 305px;
    color: rgba(0, 0, 0, 1);
    width: 198px;
    height: auto;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: right;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .receipt-logo {
    top: 125px;
    left: 516px;
    width: 423px;
    height: 368px;
    display: flex;
    opacity: 0.20;
    z-index: 8;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .receipt-group31 {
    top: 0px;
    left: 0px;
    width: 423px;
    height: 368px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .receipt-bglogo {
    top: 0px;
    left: 0px;
    width: 423px;
    height: 368px;
    position: absolute;
  }
  .receipt-rectangle45 {
    top: 446px;
    left: 654px;
    width: 129px;
    height: 26px;
    z-index: 9;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }
  .receipt-text35 {
    top: 453px;
    left: 669px;
    color: rgba(255, 255, 255, 1);
    width: 102px;
    height: auto;
    z-index: 10;
    position: absolute;
    font-size: 12px;
    font-style: Regular;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: underline;
  }
  